<div class="parent">
    <div class="navbar">
        <div class="definition-text"><button class="def-button" (click)="scrollToDiv('def-location')">Definition</button></div>
        <div class="types-text"><button class="types-button" (click)="scrollToDiv('types-location')">Types</button></div>
        <div class="sepedafy-text-4">by ng-Ungsi</div>
        <div class="sepedafy-text-3">Sepedafy</div>
        <div class="sepedafy-hollow">Sepedafy</div>
    </div>
    <div class="home" id="def-location">
        <div class="joke-text">Sepeda, sepeda apa yang tidak bisa dinaiki? Sepeda hilang.</div>
        <div class="question-text">Apa itu sepeda?</div>
        <div class="explanation-text">Sepeda adalah adalah kendaraan beroda satu, dua, atau tiga yang mempunyai setang, tempat duduk, dan sepasang pengayuh yang digerakkan kaki untuk menjalankannya.<br/><br/>Nenek moyang sepeda diperkirakan berasal dari Prancis. Menurut kabar sejarah, negeri itu sudah sejak awal abad ke-18 mengenal alat transportasi roda dua yang dinamai velocipede. Adalah seorang Jerman bernama Baron Karls Drais von Sauerbronn yang pantas dicatat sebagai salah seorang penyempurna velocipede.</div>
        <img class="home-header" src="assets/images/sepedafy-4.jpg" />
        <img class="inventor" src="assets/images/sepedafy-5.jpg" />
    </div>
    <div class="types" id="types-location">
        <div class="type-text">Beberapa jenis sepeda</div>
        <div class="sepeda-roda-satu">
        <div class="sepeda-roda-satu-card"></div>
        <img class="sepeda-roda-satu-pic" src="assets/images/sepeda-roda-satu.jpg" />
        <div class="sepeda-roda-satu-title">Unicycle</div>
        <div class="sepeda-roda-satu-def">Sepeda beroda tunggal yang membutuhkan keseimbangan dan keterampilan untuk dikendarai, dengan pengendara duduk di atas sadel dan mengayuh pedal untuk bergerak maju.</div>
        </div>
        <div class="sepeda-roda-dua">
        <div class="sepeda-roda-dua-card"></div>
        <img class="sepeda-roda-dua-pic" src="assets/images/sepeda-roda-dua.jpg"/>
        <div class="sepeda-roda-dua-title">Bicycle</div>
        <div class="sepeda-roda-dua-def">Sepeda beroda dua yang digerakkan oleh pengendara dengan mengayuh pedal dan biasanya digunakan untuk transportasi atau rekreasi.</div>
        </div>
        <div class="sepeda-roda-tiga">
        <div class="sepeda-roda-tiga-card"></div>
        <img class="sepeda-roda-tiga-pic" src="assets/images/sepeda-roda-tiga.jpg" />
        <div class="sepeda-roda-tiga-title">Tricycle</div>
        <div class="sepeda-roda-tiga-def">Sepeda beroda tiga yang memiliki satu roda di depan dan dua roda di belakang, digerakkan oleh pengendara dengan mengayuh pedal atau menggunakan mesin.</div>
        </div>
        <div class="sepeda-tandem">
        <div class="sepeda-tandem-card"></div>
        <img class="sepeda-tandem-pic" src="assets/images/sepeda-tandem.jpg" />
        <div class="sepeda-tandem-title">Tandem</div>
        <div class="sepeda-tandem-def">Sepeda yang dirancang untuk dua pengendara, dengan dua set pedal dan kursi, yang memungkinkan pengendara untuk bersepeda secara bersamaan.</div>
        </div>
        <div class="sepeda-fixie">
        <div class="sepeda-fixie-card"></div>
        <img class="sepeda-fixie-pic" src="assets/images/sepeda-fixie.jpg" />
        <div class="sepeda-fixie-title">Fixie</div>
        <div class="sepeda-fixie-def">Sepeda yang tidak memiliki gigi atau sistem rem yang dapat dioperasikan secara independen, sehingga roda berputar seiring dengan gerakan pedal dan memerlukan keahlian khusus dalam pengendaliannya.</div>
        </div>
        <div class="sepeda-lipat" style="width: 440px; height: 520px; left: 507px; top: 1235px; position: absolute">
        <div class="sepeda-lipat-card" style="width: 440px; height: 520px; left: 0px; top: 0px; position: absolute; background: #FEFCF7; box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25); border-radius: 20px"></div>
        <img class="sepeda-lipat-pic" style="width: 440px; height: 220px; left: 0px; top: 0px; position: absolute; border-top-left-radius: 20px; border-top-right-radius: 20px; object-fit: cover;" src="assets/images/sepeda-lipat.jpg" />
        <div class="sepeda-lipat-title" style="width: 440px; height: 73px; left: 0px; top: 223px; position: absolute; text-align: center; color: #1B1403; font-size: 35px; font-family: DM Serif Display; font-weight: 400; word-wrap: break-word">Folding</div>
        <div class="sepeda-lipat-def" style="width: 405px; height: 156px; left: 18px; top: 296px; position: absolute; color: #090701; font-size: 21px; font-family: Helvetica; font-weight: 500; word-wrap: break-word">Sepeda yang dirancang agar dapat dilipat menjadi ukuran yang lebih kecil untuk kemudahan penyimpanan dan transportasi.</div>
        </div>
        <div class="sepeda-bmx" style="width: 440px; height: 520px; left: 973px; top: 1183px; position: absolute">
        <div class="sepeda-bmx-card" style="width: 440px; height: 520px; left: 0px; top: 0px; position: absolute; background: #FEFCF7; box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25); border-radius: 20px"></div>
        <img class="sepeda-bmx-pic" style="width: 440px; height: 220px; left: 0px; top: 0px; position: absolute; border-top-left-radius: 20px; border-top-right-radius: 20px; object-fit: cover;" src="assets/images/sepeda-bmx.jpg" />
        <div class="sepeda-bmx-title" style="width: 440px; height: 73px; left: 0px; top: 223px; position: absolute; text-align: center; color: #1B1403; font-size: 35px; font-family: DM Serif Display; font-weight: 400; word-wrap: break-word">BMX</div>
        <div class="sepeda-bmx-def" style="width: 405px; height: 156px; left: 18px; top: 296px; position: absolute; color: #090701; font-size: 21px; font-family: Helvetica; font-weight: 500; word-wrap: break-word">Sepeda yang dirancang khusus untuk balapan dan melakukan trik-trik freestyle di lintasan atau area khusus.</div>
        </div>
        <div class="sepeda-kargo" style="width: 440px; height: 520px; left: 1439px; top: 1235px; position: absolute">
        <div class="sepeda-kargo-card" style="width: 440px; height: 520px; left: 0px; top: 0px; position: absolute; background: #FEFCF7; box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25); border-radius: 20px"></div>
        <img class="sepeda-bmx-pic" style="width: 440px; height: 220px; left: 0px; top: 0px; position: absolute; border-top-left-radius: 20px; border-top-right-radius: 20px; object-fit: cover;" src="assets/images/sepeda-kargo.jpg" />
        <div class="sepeda-bmx-title" style="width: 440px; height: 73px; left: 0px; top: 223px; position: absolute; text-align: center; color: #1B1403; font-size: 35px; font-family: DM Serif Display; font-weight: 400; word-wrap: break-word">Cargo</div>
        <div class="sepeda-bmx-def" style="width: 405px; height: 156px; left: 18px; top: 296px; position: absolute; color: #090701; font-size: 21px; font-family: Helvetica; font-weight: 500; word-wrap: break-word">Sepeda yang dirancang dengan daya angkut yang lebih besar dan dilengkapi dengan rak atau wadah khusus untuk mengangkut barang atau muatan tambahan.</div>
        </div>
        <div class="sepeda-tur" style="width: 440px; height: 520px; left: 507px; top: 1923px; position: absolute">
        <div class="sepeda-tur-card" style="width: 440px; height: 520px; left: 0px; top: 0px; position: absolute; background: #FEFCF7; box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25); border-radius: 20px"></div>
        <img class="sepeda-tur-pic" style="width: 440px; height: 220px; left: 0px; top: 0px; position: absolute; border-top-left-radius: 20px; border-top-right-radius: 20px; object-fit: cover; object-position: 0 70%;" src="assets/images/sepeda-tur.jpg" />
        <div class="sepeda-tur-title" style="width: 440px; height: 73px; left: 0px; top: 223px; position: absolute; text-align: center; color: #1B1403; font-size: 35px; font-family: DM Serif Display; font-weight: 400; word-wrap: break-word">Touring</div>
        <div class="sepeda-tur-def" style="width: 405px; height: 156px; left: 18px; top: 296px; position: absolute; color: #090701; font-size: 21px; font-family: Helvetica; font-weight: 500; word-wrap: break-word">Sepeda yang dirancang khusus untuk perjalanan jarak jauh dan mengangkut peralatan atau barang bawaan dengan kenyamanan dan stabilitas yang tinggi.</div>
        </div>
        <div class="sepeda-listrik" style="width: 440px; height: 520px; left: 973px; top: 1871px; position: absolute">
        <div class="sepeda-listrik-card" style="width: 440px; height: 520px; left: 0px; top: 0px; position: absolute; background: #FEFCF7; box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25); border-radius: 20px"></div>
        <img class="sepeda-listrik-pic" style="width: 440px; height: 220px; left: 0px; top: 0px; position: absolute; border-top-left-radius: 20px; border-top-right-radius: 20px; object-fit: cover;" src="assets/images/sepeda-listrik.jpg" />
        <div class="sepeda-listrik-title" style="width: 440px; height: 73px; left: 0px; top: 223px; position: absolute; text-align: center; color: #1B1403; font-size: 35px; font-family: DM Serif Display; font-weight: 400; word-wrap: break-word">Electric</div>
        <div class="sepeda-listrik-def" style="width: 405px; height: 156px; left: 18px; top: 296px; position: absolute; color: #090701; font-size: 21px; font-family: Helvetica; font-weight: 500; word-wrap: break-word">Sepeda yang dilengkapi dengan motor listrik yang membantu pengendara dalam mengayuh pedal, meningkatkan kecepatan dan efisiensi perjalanan.</div>
        </div>
    </div>
    <div class="footer" style="width: 100%; height: 810px; position: relative; background: #FCF5E5">
        <div class="footer-container" style="width: 100%; height: 621px; left: 0px; top: 189px; position: absolute">
        <div class="footer-card" style="width: 100%; height: 621px; left: 0px; top: 0px; position: absolute; background: #503A09"></div>
        <div class="sepedafy-text-6" style="width: 433px; left: 164px; top: 360px; position: absolute; text-align: right; color: #F8E7C2; font-size: 47.50px; font-family: DM Serif Display; font-weight: 400; word-wrap: break-word">by ng-Ungsi</div>
        <div class="sepedafy-text-5" style="left: 136px; top: 195px; position: absolute; color: #F8E7C2; font-size: 130px; font-family: Arapey; font-weight: 400; word-wrap: break-word">Sepedafy</div>
        <div class="copyright" style="width: 100%; height: 50px; left: 0px; top: 571px; position: absolute; text-align: center; color: #F8E7C2; font-size: 20px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">©2023, ng-Ungsi, Inc. All rights reserved. Privacy Policy. Terms of Use.</div>
        <div class="team-text" style="left: 820px; top: 289px; position: absolute; text-align: center; color: #F8E7C2; font-size: 35px; font-family: Montserrat; font-weight: 700; word-wrap: break-word"><a href="/team">Meet our team!</a></div>
        </div>
    </div>
</div>